@media (max-height: 400px) {
  footer {
    display: none;
  }
}

@media (max-width: 800px) {
  footer {
    display: none;
  }
}

#dropdown-basic a {
  color: black !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  background-color: #fb8700 !important;
}

/*#dropdown-span {*/
  /*margin-left: 1em;*/
  /*font-size: 1.1em;*/
  /*color: white;*/
/*}*/

/*#dropdown-span.link-active a,*/
/*#dropdown-span a:hover*/
/*{*/
  /*color: #fb8700 !important;*/
/*}*/

/*#dropdown-span a {*/
  /*text-decoration: none !important;*/
/*}*/


footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  color: white;
}

.glyphicon-none:before {
  content: "\2122";
  color: transparent !important;
}

.glyphicon-none {
  margin-right: 10px;
}

#email {
  color: white;
  font-size: 15px;
}

li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #fb8700;
  color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  background-color: #1e7f91 !important;

  /*rgba(30,30,30,.66)  !important;  #2fa5bb  */

}

.navbar-nav li a,
.navbar-nav li p {
  color: white !important;
  font-size: 1.4em;
}

.navbar-nav li p {
  color: lightgray !important;
  margin-left: 10px;
}

.navbar-nav li small {
  color: white !important;

}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
    height: 100%;
    width: calc(25% - 20px);
  }

  .navbar {
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
  }

  .navbar-header {
    float: none;
  }

  .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0px;
  }

  .navbar ul {
    float: none;
  }

  .navbar li {
    float: none;
    font-size: 15px;
    margin: 6px;
  }

  .navbar li a,
  .navbar li p {
    padding: 10px 16px;
    border-radius: 4px;
  }

  .navbar a {
    /* If a menu item's text is too long, truncate it */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
