<!--Add new group panel-->
<div class="panel panel-default" *ngIf="groupForm">
  <div class="panel-body">
    <h3>Groep Wijzigen</h3>


    <form (ngSubmit)="onSubmit()" [formGroup]='groupForm'>
      <div>
        <!--Terug knop-->
        <button class="btn btn-primary" type="button"
                (click)="goToGroupsOverview()"
                style="margin-bottom: 2em;"><span class="glyphicon glyphicon-arrow-left"></span> Terug
        </button>

        <!--Opslaan knop-->
        <button class="btn btn-success pull-right" (click)="onSubmit()"
                [disabled]="!groupForm.valid">
          <span class="glyphicon glyphicon-floppy-disk"></span> Opslaan
        </button>
      </div>

      <div class="input-group" style="margin-bottom: 1em;">
        <span class="input-group-addon" id="basic-addon1">Groepsnaam</span>
        <input formControlName='groupName'
               type="text" class="form-control" placeholder="Naam van nieuwe groep."
               aria-describedby="basic-addon1">
      </div>
      <div class='alert alert-danger' *ngIf='groupForm.get("groupName").errors?.GroupAlreadyExists'>
        Er bestaat al een groep met deze naam.
      </div>
      <div class="input-group">
        <span class="input-group-addon" id="pw">Wachtwoord</span>
        <input formControlName='groupPassword'
               type="password" class="form-control" placeholder="Wachtwoord van nieuwe groep."
               aria-describedby="pw">
      </div>
      <div class='alert alert-danger'
           *ngIf='groupForm.get("groupPassword").errors?.minlength && groupForm.get("groupPassword").touched'>
        Het wachtwoord moet minimum {{groupForm.get("groupPassword").errors?.minlength.requiredLength }} tekens
        bevatten.
      </div>

      <div class="form-inline" style="margin-top: 2em;">
        <div class="form-group">
          <label for="addGroupMember" style="margin-right: 0.5em;">Groepslid toevoegen</label>
          <input formControlName="groupMember" type="text" class="form-control" id="addGroupMember"
                 placeholder="Naam nieuw groepslid.">
        </div>
        <button style="margin-left: 0.2em;" type="button" class="btn glyphicon glyphicon-plus-sign"
                [disabled]='groupForm.get("groupMember").value.length < 1'
                (click)="addNewMember(groupForm.get('groupMember').value)"></button>
      </div>
      <div class='alert alert-danger'
           *ngIf='groupForm.get("groupMember").errors?.minlength && groupForm.get("groupMember").touched'>
        De naam moet minimum {{groupForm.get("groupMember").errors?.minlength.requiredLength }} letters bevatten.
      </div>

      <div *ngIf="group.members.length > 0" style="margin-top: 1em;">
        <label>Groepsleden: </label>
        <button style="margin-left: 0.4em;"
                type="button"
                *ngFor="let member of group.members"
                (click)="openModal(template, group.id, member)"><span class="glyphicon glyphicon-remove"></span>
          {{member}}
        </button>
      </div>
    </form>
  </div>
</div>

<!-- delete member of group modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{modalMessage}}</p>
    <div class="modal-footer">
      <button type="button" class="btn btn-success pull-left" (click)="decline()">
        Nee
      </button>
      <button type="button" class="btn btn-danger pull-right" (click)="confirm()">
        Ja
      </button>
    </div>
  </div>
</ng-template>
