<div *ngIf="group">
  <!--Terug knop-->
  <button class="btn btn-primary"
          (click)="BackToAssignment()"
          style="margin-bottom: 2em"><span class="glyphicon glyphicon-arrow-left"></span> Terug
  </button>
  <div id="header" style="margin-bottom: 2.0em">
    <h1 style="text-transform: capitalize">{{group.name}}</h1>
    <h2>Aantal bezochte standen: <b>{{group.assignments.length}}</b></h2>
  </div>

  <div *ngFor='let assignment of group.assignments  let i = index'>
    <div class="panel panel-default container-fluid">
      <div class="panel-heading row">
        <div class="col-md-4">
          <h3 class="panel-title">Opdracht {{i + 1}}<br></h3>
        </div>
      </div>
      <br><br>
      <div class="panel-body">
        <div *ngIf="group.assignments.length == 0">
          <p>De groep heeft geen ingediende opdrachten.</p>
        </div>

        <div class="form-horizontal">
          <div *ngIf="assignment.question.isCreatedExhibitor(); else normalAssignment">
            <div class="form-group">
              <label class="col-sm-1" for="createdExhibitor">Door Groep aangemaakte Exposant: </label>
              <p class="col-sm-10" id="createdExhibitor">Deze Exposant is door de groep aangemaakt in een Extra Ronde,
                na
                het normaal verloop van de rondleiding.</p><br>
            </div>
          </div>
          <ng-template #normalAssignment>
            <div class="form-group">
              <label class="col-sm-1" for="stand">Stand</label>
              <p class="col-sm-10" id="stand">{{assignment.question.exhibitor.name}}</p><br>
            </div>
            <div class="form-group">
              <label class="col-sm-1" for="aantal">Categorie</label>
              <p class="col-sm-10" id="aantal">{{assignment.question.category.name}}</p><br>
            </div>
          </ng-template>

          <div class="form-group">
            <label class="col-sm-1" for="question">Vraag</label>
            <p class="col-sm-10" id="question">{{assignment.question.questionText}}</p><br>
          </div>

          <ng-container *ngIf="!hideQuestion(assignment.question.questionText)">
            <div class="form-group" *ngIf="!hideQuestion(assignment.question.questionText)">
              <label class="col-sm-2" for="answerGroup"> Antwoord van groep</label>
              <p class="col-sm-10" id="answerGroup">{{assignment.answer}}</p><br>
            </div>
            <div class="form-group">
              <label class="col-sm-2" for="answer"> Model antwoord</label>
              <p class="col-sm-10" id="answer">{{assignment.question.answer}}</p><br>
            </div>
          </ng-container>

          <ng-container *ngIf="assignment.notes">
            <div class="form-group">
              <label class="col-sm-1" for="notes"> Notities</label>
              <p class="col-sm-10" id="notes">{{assignment.notes}}</p>
            </div>
          </ng-container>
          <ng-container *ngIf="assignment.photo">
            <div class="form-group">
              <label class="col-sm-1" for="photo">Foto</label>
              <a target="_blank" [href]="'/images/'+assignment.photo">
                <img
                  id="photo"
                  style="margin-left: 1em;"
                  [src]="'/images/'+assignment.photo"
                  alt="opdracht foto"
                />
              </a>
            </div>
          </ng-container>
          <!--<hr style="border-color: #0f0f0f; margin-top: 5em">-->
        </div>
      </div>
    </div>
  </div>
</div>
