<a
  target="_self"
  class="btn btn-default"
  aria-hidden="true"
  (click)="downloadPDF()">
  <i class="glyphicon glyphicon-download-alt"></i>
</a>

&nbsp;

<a class="btn btn-default"
   href="mailto:?subject=Link naar informatiescherm beurs Reva&body=De link naar het informatiescherm: http://app.reva.be/informatiescherm">
  <i class="glyphicon glyphicon-envelope"></i>
  Email versturen
</a>

<div id="contentToConvert" #content class="container">
  <br>
  <div class="row">
    <div class="col-lg-12 ">
      <ul class="timeline">

        <li class="firstLi">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="../../assets/reva_App_Google_Play.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Hoe download je de app</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted links">
                Je kan de app in de Google Play Store terugvinden (en downloaden) onder de naam 'REVA app 2019'.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="../../assets/inlogscherm_App.png" alt="">
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Inloggen in android app</h4>
            </div>

            <div class="timeline-body">
              <p class="text-muted rechts">
                Je kan op 2 manieren inloggen op de app:
              </p>
              <p class="text-muted rechts">
                - De leerlingen krijgen de login gegevens van de school (leerkracht kan dit terugvinden op het
                webplatform, onder 'Groepen').
                Hierbij zullen de leerlingen eerst zelf groepjes (max 4) moeten aanmaken in de app.
              </p>
              <p class="text-muted rechts">
                - Als de leerkracht in het webplatform de groepjes heeft aangemaakt
                dan kunnen leerlingen inloggen op de app met de login gegevens van de groep,
                die via de leerkracht verkregen worden.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="../../assets/startscherm.JPG" alt="">
          </div>

          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Startscherm</h4>
            </div>

            <div class="timeline-body">
              <p class="text-muted links">
                Hiernaast ziet u het startscherm.
                Hier vindt u een uitleg over wat de app inhoudt.
                Linksboven ziet u het "hamburgermenu" met volgende opties: <b>Home, Beursplan, Categorieën en
                Groepsleden</b>.
                <!--  Met de knop (het mannetje rechtsboven) kan u naar het instellingen scherm gaan indien u iets wenst aan te passen aan uw account. -->
                Wanneer de rondleiding kan beginnen (als de beurs start) zal er een knop "rondleiding starten"
                tevoorschijn komen.
                Door op deze knop te duwen zal de rondleiding starten.
              </p>
            </div>

          </div>
           <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/images/beursplan.jpg" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Beursplan</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted rechts">
                Klikken we bij het hamburgermenu op beursplan, dan krijgen we een plan van de beurs te zien waarop ook
                de standplaatsen van de exposanten terug te vinden zijn.
                Men kan dit tijdens de rondleiding gebruiken om exposanten terug te vinden.
                Deze standplaatsen komen overeen met diegene die je toegewezen krijgt bij een opdracht in de app, als
                men een rondleiding start.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="../../assets/Categorieën.JPG" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Categorieën</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted links">
                Bij het klikken op <b>categoriëen</b> in het hamburgermenu komt er een scherm tevoorschijn (links), met
                alle mogelijke categorieën
                waaruit een groep kan kiezen. Er is een detailscherm als men op een specifieke categorie klikt,
                waardoor we een groep van informatie voorzien om een doorslaggevende keuze te kunnen maken.
              </p>
            </div>
          </div>
           <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="../../assets/keuzeRondleiding.JPG" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Rondleiding is gestart, <br/> tijd voor een keuze</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted rechts">
                Als de groep de rondleiding start krijgen ze een overzicht (zichtbaar in de afbeelding) van alle
                categoriëen
                te zien.
                Eens een categorie gekozen zal er een opdracht aangemaakt worden die de groep zal moeten indienen.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="../../assets/rondleiding.JPG" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Exposant bezoeken &<br/> opdracht indienen</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted links">
                Heeft men een categorie gekozen, dan krijgen we een nieuw scherm te zien met op het beursplan
                een route naar de positie van de te bezoeken exposant.
                Eens de groep zich bij de exposant bevindt, klikt men op 'volgende' om zo doorverwezen te worden naar
                het volgende scherm, waarop een opdracht zal ingevuld moeten worden. Hier zal er een vraag beantwoord
                of een foto gemaakt moeten worden. Bij de laatste vraag komt u terecht op het eindscherm.
                Dit betekent dat u uw rondleiding succesvol heeft beeïndigd.
                Hier krijgt de groep de optie op de applicatie te stoppen of om nog een <b>extra ronde</b> te doorlopen
                van de rondleiding.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="../../assets/extra_ronde.png" alt="">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="subheading">Extra ronde</h4>
            </div>
            <div class="timeline-body">
              <p class="text-muted rechts">
                In deze extra ronde kan de groep nog een opdracht maken door:
                op een categorie te kiezen, of door een specifieke exposant aan te klikken.
                Er is een mogelijkheid om zelf een exposant toe te voegen die een groep interessant vindt,
                als deze niet werd teruggevonden in de lijs.
                We hebben er voor gezorgd dat een groep nooit twee maal dezelfde opdracht krijgt, waardoor ze dus
                verschillende
                exposanten zullen bezoeken.
                Deze extra rondes kunnen blijven uitgevoerd worden, tot alle opdrachten gemaakt zijn.
              </p>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

