<!--Add new group panel-->
<div class="panel panel-default">
  <div class="panel-body">
    <h3 style="margin-bottom: 2em;">{{title}}</h3>

    <form (ngSubmit)="onSubmit()"
          [formGroup]="groupForm"
          *ngIf="groupForm">


      <div *ngIf="!createGroup">
        <!--Terug knop-->
        <button class="btn btn-primary" type="button"
                (click)="goToGroupsOverview()"
                style="margin-bottom: 2em;"><span class="glyphicon glyphicon-arrow-left"></span> Terug
        </button>

        <!--Opslaan knop-->
        <button class="btn btn-success pull-right"
                type='submit'
                [disabled]="!groupForm.valid">
          <span class="glyphicon glyphicon-floppy-disk"></span>
          Opslaan
        </button>
      </div>

      <!-- GroupName -->
      <div class="input-group">
        <span class="input-group-addon">
          Groepsnaam
        </span>
        <input formControlName="groupName"
               type="text"
               class="form-control"
               placeholder="Naam van nieuwe groep."
               autocomplete="off">
      </div>
      <div class='alert alert-danger'
           *ngIf='groupForm.get("groupName").errors?.required && groupForm.get("groupName").touched'>
        Gelieve een groepsnaam in te vullen.
      </div>
      <div class='alert alert-danger'
           *ngIf='groupForm.get("groupName").touched
               && groupForm.get("groupName").errors?.minlength'>
        De groepsnaam moet minimum {{groupForm.get("groupName").errors?.minlength.requiredLength }} karakters
        bevatten.
      </div>
      <div class='alert alert-danger' *ngIf='groupForm.get("groupName").errors?.groupAlreadyExists'>
        Er bestaat al een groep met deze naam.
      </div>

      <!-- Change password -> only in update group -->
      <button
        style="margin-bottom: 1em; margin-top: 2em;"
        *ngIf="!createGroup && !changePassword"
        type="button"
        class="btn btn-primary"
        (click)="changePasswordClicked()">
        <!--<i [ngClass]="changePassword ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'"></i>-->
        Wachtwoord wijzigen
      </button>

      <!-- FormGroup for password creation -->
      <div formGroupName="passwordGroup" *ngIf="createGroup || changePassword" style="margin-top: 1em;">
        <div class="input-group">
            <span class="input-group-addon">
              Wachtwoord
            </span>
          <input formControlName="groupPassword"
                 autocomplete="off"
                 type="password"
                 class="form-control"
                 placeholder="Wachtwoord van nieuwe groep.">
        </div>
        <div class='alert alert-danger'
             *ngIf="passwordGroup.get('groupPassword').errors?.passwordTooShort && passwordGroup.touched">
          Het wachtwoord moet minimum {{ passwordGroup.get('groupPassword').errors?.passwordTooShort.requiredLength }}
          karakters bevatten. Momenteel bevat het
          maar {{passwordGroup.get('groupPassword').errors?.passwordTooShort.actualLength}} karakter(s).
        </div>
        <div class='alert alert-danger'
             *ngIf="passwordGroup.get('groupPassword').errors?.whitespace && passwordGroup.get('groupPassword').touched">
          Wachtwoord mag geen spaties (witruimtes) bevatten.
        </div>

        <div class="input-group" style="margin-top: 1em;">
            <span class="input-group-addon">
              Bevestig Wachtwoord
            </span>
          <input formControlName="confirmPassword"
                 type="password"
                 class="form-control"
                 placeholder="Bevestig wachtwoord.">
        </div>
        <div class='alert alert-danger'
             *ngIf="passwordGroup.errors?.passwordsDiffer && passwordGroup.get('confirmPassword').touched
               && passwordGroup.get('confirmPassword').touched">
          De 2 wachtwoorden moeten overeenkomen.
        </div>
      </div>


      <!-- Groepsleden toevoegen (max 4) -->
      <div class="form-inline" style="margin-top: 4em;" *ngIf="groupMembers.length < 4; else maxMembersMessage">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">
              Groepslid toevoegen
            </span>
            <input formControlName="groupMember" type="text" class="form-control"
                   placeholder="Naam nieuw groepslid.">
          </div>
        </div>
        <button style="margin-left: 0.2em;" type="button" class="btn glyphicon glyphicon-plus-sign"
                [disabled]="!validGroupMemberName"

                (click)="addNewMember()"></button>
      </div>
      <div class="alert alert-danger" *ngIf="!validGroupMemberName">
        De naam moet minimum {{ groupForm.get('groupMember').errors?.minlength.requiredLength }} letters bevatten.
      </div>
      <ng-template #maxMembersMessage>
        <p style="margin-top: 2em;">U hebt het maximum van 4 groepsleden dat toegelaten is per groep bereikt.</p>
      </ng-template>

      <div *ngIf="groupMembers.length > 0" style="margin-top: 1em;">
        <label>Groepsleden: </label>
        <span class="panel panel-default"
              style="margin-left: 0.4em; padding: 0.4em;"
              *ngFor="let memberName of groupMembers">
              {{memberName}}
          <i style="margin-left: 0.2em; color: red; cursor: pointer;"
             class="glyphicon glyphicon-remove"
             (click)="removeMember(memberName)">
              </i>
            </span>
      </div>

      <div class="col-md-offset-10 col-md-2" *ngIf="createGroup">
        <button type="submit"
                [disabled]='!groupForm.valid || groupMembers.length < 1 || groupMembers.length > 4'
                class="btn btn-success">Creëer groep
        </button>
        <div class='alert alert-danger'
             *ngIf='groupForm.get("groupName").valid
                 && groupForm.get("passwordGroup").valid
                  && groupMembers.length < 1 || groupMembers.length > 4'>
          Gelieve minimum 1 groepslid toe te voegen aan de groep.
        </div>
      </div>
    </form>
  </div>
</div>

<!-- delete member of group modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{modalMessage}}</p>
    <div class="modal-footer">
      <button type="button" class="btn btn-success pull-left" (click)="decline()">
        Nee
      </button>
      <button type="button" class="btn btn-danger pull-right" (click)="confirm()">
        Ja
      </button>
    </div>
  </div>
</ng-template>
