<div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>
<form [formGroup]='user' (ngSubmit)='onSubmit()'>
  <h2 class="" style="margin-bottom: 2em;">Wachtwoord Vergeten</h2>

  <div class="row form-group">
    <label class="col-sm-2 control-label" for="email">Email: </label>
    <div class="col-sm-10 col-md-3">
      <input class="form-control" type="text" id="email" formControlName='email'>
    </div>
  </div>
  <div class="row form-group" style="margin-top: 1em;">
    <div class="col-sm-offset-2 col-sm-10 col-md-3">
      <button class="btn btn-primary" style="width: 100%;" type='submit' [disabled]='!user.valid'>
        Verzenden
      </button>
    </div>
  </div>
</form>


