<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
</div>

<div id="header" class="row">
  <h1 class="col-md-2">Groepen</h1>
  <h3 *ngIf="!appStartDateExpired && applicationStartDate">
    De app is actief vanaf:
    <strong>{{applicationStartDate.toLocaleDateString()}}</strong></h3>
</div>


<div class="panel panel-default" *ngIf="school" id="app-credentials">
  <div class="panel-heading" style="font-size: 1.2em;">
    <b>
      Optie 1: Met deze logingegevens kunnen de leerlingen zelf groepen aanmaken in de app:
    </b>
  </div>
  <div class="panel-body">
    <form [formGroup]="schoolLoginNameForm">
      <div class="form-inline">
        <div class="form-group">
          <label for="schoolLogin">Login</label>
          <input
            class="form-control"
            id="schoolLogin"
            formControlName='schoolLoginName'
            type="text">

          <button class="btn btn-default"
                  (click)="openModalUpdateLoginName(template)"
                  [disabled]="!schoolLoginNameForm.valid
                  || schoolLoginNameForm.get('schoolLoginName').value == school.loginName">
            <i class="glyphicon glyphicon-floppy-disk"></i>
          </button>

          <div class="form-group">
            <label style="margin-left: 1em;" for="schoolPassword">Paswoord</label>
            <input class="form-control" id="schoolPassword" [value]="school.password" disabled>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-3 alert alert-danger"
             *ngIf="schoolLoginNameForm.get('schoolLoginName').errors?.required
             && schoolLoginNameForm.get('schoolLoginName').touched">
          Gelieve een login naam in te vullen.
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-md-3 alert alert-danger"
             *ngIf="schoolLoginNameForm.get('schoolLoginName').errors?.minlength">
          De schoolnaam moet ten
          minste {{schoolLoginNameForm.get('schoolLoginName').errors?.minlength.requiredLength }}
          letters bevatten.
          U heeft momenteel {{schoolLoginNameForm.get('schoolLoginName').errors?.minlength.actualLength}} lettertekens
          gebruikt.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-3 alert alert-danger"
             *ngIf="schoolLoginNameForm.get('schoolLoginName').errors?.maxlength">
          Dit veld mag maximum {{schoolLoginNameForm.get('schoolLoginName').errors?.maxlength.requiredLength }}
          letters bevatten.
          U heeft momenteel {{schoolLoginNameForm.get('schoolLoginName').errors?.maxlength.actualLength}}
          lettertekens gebruikt.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-3 alert alert-danger"
             *ngIf="schoolLoginNameForm.get('schoolLoginName').errors?.schoolAlreadyExists
              && schoolLoginNameForm.get('schoolLoginName').touched">
          Deze login naam wordt al gebruikt door een andere school. Gelieve een andere naam te gebruiken.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-3 alert alert-danger"
             *ngIf="schoolLoginNameForm.get('schoolLoginName').errors?.wrongInput">
          De school login naam mag geen <strong>punt</strong> (<b style="font-weight: bold; font-size: 1.8em;">.</b>) bevatten.
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-3 alert alert-danger"
             *ngIf="schoolLoginNameForm.get('schoolLoginName').errors?.whitespace">
         Gelieve geen spaties (witruimtes) te gebruiken.
        </div>
      </div>
    </form>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <b style="font-size: 1.2em;" *ngIf="!isAdmin" class="col-md-10">
        Optie 2: Via deze weg zijn de groepjes al op voorhand aangemaakt en kunnen de leerlingen meteen aan de slag in
        de
        app.
        <br/>
        Vergeet niet om de logingegevens (login en paswoord) goed bij te houden en te delen met de groepjes!
      </b>

      <!--Add new group button-->
      <div id="createGroupButton" style="margin-top: 2em;">
        <button (click)="createGroupClicked()" *ngIf="school"
                class="btn btn-success">
          <i [ngClass]="createGroup ? 'glyphicon glyphicon-minus' : 'glyphicon glyphicon-plus'"></i>
          Groep aanmaken
        </button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <!--Add new group panel-->
    <div *ngIf="createGroup">
      <div class="panel-body">
        <app-create-or-update-group (submit)="onSubmit($event)"
         (openParentModal)="openModalRemoveMember(template, $event)"></app-create-or-update-group>
      </div>
    </div>

    <!--Search Filter Bar-->
    <div class="row" *ngIf="groups && groups.length > 0" style="margin-bottom: 1em; margin-top: 2em;">
      <div class="col-md-12">
        <div class="input-group">
      <span class="input-group-addon">Zoekfilter
       </span>
          <input class="form-control" type="text" placeholder="filter" (ngModelChange)="filter($event)"
                 [(ngModel)]="filterValue">
        </div>
      </div>
    </div>

    <!--Overview of groups-->
    <div class="row" *ngIf="returnedArray && returnedArray.length > 0">
      <div class="col-xs-12 col-12">
        <div class="content-wrapper">
          <accordion [closeOthers]="true">
            <accordion-group *ngFor="let group of returnedArray; let i = index" [isOpen]="i == 0">
              <div accordion-heading>
                <div class="row">
                  <div class="col-md-7 col-sm-6 col-xs-4">
                    <b>
                      {{ isAdmin ? group.schoolLoginName + "." + group.name : group.name }}
                    </b>
                  </div>

                  <div class="col-md-2 col-md-offset-2 col-sm-2 col-xs-4">
                    leden: <span class="badge">{{group.members.length}}</span>
                  </div>

                  <div class="col-md-1 col-sm-4 col-xs-4">
                    <i *ngIf="!isAdmin"
                       (click)="updateGroup(group)" style="margin-right: 1.2em;"
                       class="glyphicon glyphicon-edit">
                    </i>

                    <i (click)="openModalRemoveGroup(template, group.id)"
                       class="glyphicon glyphicon-remove">
                    </i>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="school">
                <label for="groepLogin" style="margin-right: 0.5em;">Login groep:</label>
                <p style="font-size: 1.2em;"
                   type="text"
                   class="form-control"
                   id="groepLogin">{{school.loginName}}<b>.</b>{{group.name}}</p>
              </div>

              <label>Groepsleden:</label>
              <span style="margin-left: 0.4em;"
                    *ngFor="let member of group.members">
                {{member}}
              </span>
            </accordion-group>
          </accordion>
        </div>

        <!--Pagination-->
        <pagination [totalItems]="filteredGroups.length" (pageChanged)="pageChanged($event)"
                    [itemsPerPage]=maxNumberOfGroupsPerPage [(ngModel)]="currentPage"></pagination>
      </div>
    </div>

    <ng-container *ngIf="groups && groups.length < 1">
      <h4>U heeft nog geen groepen aangemaakt. Zodra u groepen aanmaakt zullen deze hier zichtbaar worden.</h4>
    </ng-container>
  </div>
</div>

<!-- delete member of group modal -->
<ng-template #template>
  <div class="modal-body text-center">
    <p>{{modalMessage}}</p>
    <div class="modal-footer">
      <button type="button" class="btn btn-success pull-left" (click)="decline()">
        Nee
      </button>
      <button type="button" class="btn btn-danger pull-right" (click)="confirm()">
        Ja
      </button>
    </div>
  </div>
</ng-template>
