#schoolLogin, #schoolPassword{
  cursor: default !important;
}

#header + div {
  margin-top: 1.5em;
}

.panel-heading{
  background-color: #f0f9fa !important;
  color: #1e7f91;
}

#app-credentials{
  margin-bottom: 2em;
}

#app-credentials input {
  margin-left: 1em;
}
