<div *ngIf='errorMsg' class="ui error message">{{errorMsg}}</div>

<form class="form-horizontal" [formGroup]='question' (ngSubmit)='onSubmit()'>
  <h2 class="col-sm-offset-2" style="margin-bottom: 2em;">Vraag over platform</h2>

  <!--Email-->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="email">Uw e-mailadres:</label>
    <div class="col-sm-10 col-md-3">
      <input class="form-control" type="text" id="email" formControlName='email'>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10 col-md-3 alert alert-danger"
         *ngIf='question.get("email").errors?.required && question.get("email").touched'>
      Uw emailadres is verplicht.
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10 col-md-3 alert alert-danger"
         *ngIf='question.get("email").errors?.wrongInput && question.get("email").touched && !question.get("email").errors?.required'>
      Gelieve een geldig emailadres in te vullen.
    </div>
  </div>

  <!--Subject-->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="subject">Onderwerp:</label>
    <div class="col-sm-10 col-md-3">
      <input class="form-control" type="text" id="subject" formControlName='subject'>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10 col-md-3 alert alert-danger"
         *ngIf='question.get("subject").errors?.required && question.get("subject").touched'>
      Gelieve een onderwerp in te vullen.
    </div>
  </div>

  <!--Note-->
  <div class="form-group">
    <label class="col-sm-2 control-label" for="message">Vraag:</label>
    <div class="col-sm-10 col-md-3">
      <textarea rows=5 class="form-control" id="message" formControlName="message" type="message"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10 col-md-3 alert alert-danger"
         *ngIf='question.get("message").errors?.required && question.get("message").touched'>
      Gelieve een vraag in te vullen.
    </div>
  </div>

  <div class="row form-group" style="margin-top: 1em;">
    <div class="col-sm-offset-2 col-sm-10 col-md-3">
      <button class="btn btn-primary" style="width: 100%;" type='submit' [disabled]='!question.valid'>
        Vraag verzenden
      </button>
    </div>
  </div>
</form>
