<img class="img-responsive" alt="Logo Reva App" src="../../assets/logo.png">
<h1 style="margin-top: 1em;">Welkom op het 'REVA-APP' web platform!</h1>

<div class="panel panel-default" style="margin-top: 2em;">
  <div class="panel-body" style="font-size: 1.2em;">
    <p>Dit is het web platform die aan leerkrachten secundair onderwijs ondersteuning biedt voor de <b>android app</b>.
    </p>
    <p><b>De android app</b> (die te vinden is in de playstore onder de naam '<b>reva-app-2019</b>') zorgt voor
      een degelijke begeleiding van groepjes op de Reva expositie. <br>
      Een groepje krijgt door middel van een rondleiding de mogelijkheid om categorieën af te gaan,
      waarvoor vervolgens een exposant wordt toegewezen met telkens hieraan verbonden een opdracht.
    <p>Klik voor meer info omtrent de app op
      <strong>
        <a [routerLink]='["/informatiescherm"]'>deze link</a>
      </strong>
    </p>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 2em;">
  <div class="panel-body">
    <h4>Via deze website heb je de mogelijkheid tot:</h4>
    <ul style="margin-top: 1em; font-size: 1.2em;">
      <li><strong>Groepen aanmaken</strong>, zodat leerlingen kunnen
        inloggen op de android app.
      </li>
      <li>De <strong>opdrachten bekijken</strong> die de groepen hebben ingediend.</li>
      <li><strong>Informatie</strong> omtrent de <strong>android app</strong> bekijken, opslaan en doorsturen.</li>
    </ul>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 2em;">
  <div class=" panel-body" style="font-size: 1.2em">
    <p>Wil je als school ook gebruik maken van de app? Gelieve een aanvraag in te dienen via
      <strong>
        <a [routerLink]='["/invite-request"]'>deze link</a>
      </strong>
    </p>
    <p>Eventuele vragen kan je stellen via
      <strong>
        <a [routerLink]='["/ask-question"]'>deze link</a> <!-- link aan te passen na aanmaak component -->
      </strong>
    </p>
  </div>
</div>
