<img class="img-responsive" alt="Logo Reva App" src="../../assets/logo.png">
<!--<h1 style="margin-top: 2em; margin-bottom: 1em;">Welkom op het REVA app web platform!</h1>-->

<div class="panel panel-default" style="margin-top: 2em;">
  <div class="panel-body" style="font-size: 1.2em;">
    De <strong>Android app</strong> zal tegen <strong>maandag 22 april</strong> in de Google Play Store terug te vinden
    zijn
    onder de naam <strong>'REVA app 2019'</strong>. Wij brengen de geregistreerde leerkrachten
    vervolgens via mail op de hoogte dat men de app kan downloaden.
    <br/>
    <b>Zorg alvast dat je de app op voorhand download (vóór je op de beurs bent), zodat je meteen aan de
      slag
      kan.
    </b>
    <p>
      Lees alvast het
      <strong>
        <a [routerLink]='["/informatiescherm"]'>informatiescherm</a>
      </strong>
      zodat u de juiste stappen onderneemt.
    </p>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 2em;">
  <div class="panel-body" style="font-size: 1.2em;">
    <p>Dit is het web platform die aan leerkrachten secundair onderwijs ondersteuning biedt voor de <b>android app</b>.
    </p>
    <p><b>De android app</b>, die te vinden is in de playstore onder de naam
      <b><!--<a href="https://play.google.com/store/apps/details?id=be.reva.app" target="_blank">-->reva app 2019
        <!--</a>--></b>,
      zorgt voor een degelijke begeleiding van groepjes op de Reva expositie. <br>
      Een groepje krijgt door middel van een rondleiding de mogelijkheid om categorieën af te gaan,
      waarvoor vervolgens een exposant wordt toegewezen met telkens hieraan verbonden een opdracht.
      <!--<p>Klik voor meer info omtrent de app op-->
      <!--<strong>-->
      <!--<a [routerLink]='["/informatiescherm"]'>deze link</a>-->
      <!--</strong>-->
      <!--</p>-->
  </div>
</div>

<div class="panel panel-default" style="margin-top: 2em;">
  <div class="panel-body">
    <h4>Via deze website heb je de mogelijkheid tot:</h4>
    <ul style="margin-top: 1em; font-size: 1.2em;">
      <li><strong>Groepen aanmaken</strong>, zodat leerlingen kunnen
        inloggen op de android app.
      </li>
      <li>De <strong>opdrachten bekijken</strong> die de groepen hebben ingediend.</li>
      <li><strong>Informatie</strong> omtrent de <strong>android app</strong> bekijken, opslaan en doorsturen.</li>
    </ul>
  </div>
</div>

<div class="panel panel-default" style="margin-top: 2em;">
  <div class=" panel-body" style="font-size: 1.2em">
    <div *ngIf='!(isLoggedIn | async)'>
      <p>Wil je als school ook gebruik maken van de app? Gelieve een aanvraag in te dienen via
        <strong>
          <a [routerLink]='["/invite-request"]'>deze link</a>
        </strong>
      </p>
      <p>
        Heb je al een account? Dan kan je
        <strong>
          <a [routerLink]='["/login"]'>inloggen</a>
        </strong>
      </p>
    </div>
    <br>
    <p>Eventuele vragen kan je
      <strong>
        <a [routerLink]='["/ask-question"]'>hier</a> <!-- link aan te passen na aanmaak component -->
      </strong>
      stellen.
    </p>
  </div>
</div>
