<img src="../../assets/logo.png">
<h1 style="margin-top: 1em;">Welkom bij REVA!</h1>

<h3 style="margin-top: 2em;">
  Via deze website heb je de mogelijkheid tot:
</h3>
<ul style="margin-top: 1em; font-size: 1.2em;">
  <li><strong>Groepen aanmaken</strong>, zodat leerlingen kunnen
    inloggen op de android app.
  </li>
  <li>De <strong>opdrachten bekijken</strong> die de groepen hebben ingediend.</li>
  <li><strong>Informatie</strong> omtrent de <strong>android app</strong> bekijken, opslaan en doorsturen.</li>
</ul>
