<form class="form-group" [formGroup]='passwordControl' (ngSubmit)='onSubmit()'>
  <h2 class="" style="margin-bottom: 2em;">Wachtwoord Veranderen</h2>
  <div class="row form-group">
    <label for="currentPassword" class="col-sm-2 control-label">
      Huidig wachtwoord:
    </label>
    <div class="col-sm-10 col-md-3">
      <input id="currentPassword" type="password" class="form-control" formControlName='currentPassword'>
    </div>
  </div>
  <div class='alert alert-danger'
       *ngIf='passwordControl.get("currentPassword").errors?.passwordTooShort && passwordControl.get("currentPassword").touched'>
    Gelieve een geldig wachtwoord in te vullen.
  </div>
  <div class='alert alert-danger' *ngIf='passwordControl.errors?.wrongPassword && passwordControl.touched'>
    Verkeerd wachtwoord!
  </div>
  <div class="row form-group">
    <label for="password" class="col-sm-2 control-label">
      Wachtwoord:
    </label>
    <div class="col-sm-10 col-md-3">
      <input id="password" type="password" class="form-control" formControlName='password'>
    </div>
  </div>
  <div class='alert alert-danger'
       *ngIf='passwordControl.get("password").errors?.passwordTooShort && passwordControl.get("password").touched'>
    Wachtwoord te kort, gelieve minstens {{passwordControl.get("password").errors?.passwordTooShort.requiredLength}}
    letters te
    gebruiken (U
    heeft momenteel: {{passwordControl.get("password").errors?.passwordTooShort.actualLength}} letters)
  </div>
  <div class="row form-group">
    <label for="confirmPassword" class="col-sm-2 control-label">
      Bevestig wachtwoord:
    </label>
    <div class="col-sm-10 col-md-3">
      <input id="confirmPassword" type="password" class="form-control" formControlName='confirmPassword'>
    </div>
  </div>
  <div class='alert alert-danger'
       *ngIf='passwordControl.errors?.passwordsDiffer && passwordControl.get("confirmPassword").touched  && passwordControl.get("password").touched'>
    De 2 wachtwoorden moeten hetzelfde zijn.
  </div>
  <button class="btn btn-primary" type="submit">Verander wachtwoord</button>
</form>
